{
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "react"
  ],
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "no-undef": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "import/no-named-as-default": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "no-bitwise": "off",
    "no-plusplus": "off"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser"
}
